*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:"roboto",sans-serif;
}
body{
    background-color: black;
}
#main{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin:0px 50px 0 50px;
    padding-top: 80px;
}
.box{
  width: 250px;
  margin:20px 16px 40px 16px;
  border:1px solid red;
  cursor: pointer;
  padding-bottom:10px;
}
#main img{
    width:247px;
    height: 370px;
}
.heading{
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 20px;
}
h1{
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin: 5px;
}
.navbar .nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin:0px 65px 0px 65px;
}
.navbar{
    width: 100%;
    /* height: 100px; */
    background-color:rgb(20, 19, 19);
    position: fixed;
    z-index: 1;
  
}
input{
    text-align: center;
    width: 400px;
    height:40px;
    padding: 10px 16px;
    border-radius: 10px;
    border:1px solid red;
    background-color:black;
    color:red;
    font-size:20px;
}
button{
    width:150px;
    border-radius:10px;
    padding:10px;
    background-color: black;
    border:1px solid red;
    font-size:17px;
    margin: 10px;
    color:red;
    cursor: pointer;
}
#logoo{
    width: 125px;
}
ul{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
 ul li{
    list-style: none;
    padding: 25px;
    font-size: 17px;
    color: rgb(234, 9, 9);
}
ul li a{
    text-decoration: none;
    color:rgb(234, 9, 9);
}
.dec{
    color: white;
    text-align: center;
    margin-top:10px;
}
.result{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.result-box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 100px;
   
}
.outerbox{
    width: 400px;
    height: 200px;
    background-color: rgb(234, 79, 79);
    text-align: center;
}
#btn{
    background-color:white ;
}